@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: vonique-bold;
    src: url("./assets/Vonique.ttf");
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -11;
   
}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.title-land{
    font-family: 'vonique-bold', 'Arial Narrow', Arial, sans-serif;
}